.btn {
    margin-bottom: 70px;
}

.customPaginationContainer {
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
}

.customPaginationContainerDark {
    background-color: #bdbdbd;
    border-radius: 8px;
    padding: 8px;
}
