.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
}

.searchInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8em;
    width: 150px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    outline: none;
    border-color: #5b5b5b;
}

.searchButton {
    padding: 8px 16px;
    background-color: #848484;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #005bb5; /* Цвет при наведении */
}

.searchButton:focus {
    outline: none;
}
