.movieList {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #a7a7a7, #6b6b6b, #030605);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.healingTwo {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}
.navigationPage{
    text-decoration: none;
    margin-bottom: 20px;
}
.description li{
    font-size: 0.9rem;
    display: inline;
    margin-right: 10px
}
.description li:last-child {
    margin-right: 0px
}