.movieCard {
    background: #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    text-align: center;
    font-size: 0.9rem;
}
.movieCardDark {
    background: #353535;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
}
.movieCard:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.movieList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #363636;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.healingTwo {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
.healingTwoDark {
    color: #f0efed;
}

.navigationPage {
    text-decoration: none;
    margin-bottom: 20px;
}

.description {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
    color: #ddd;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.description li {
    margin-right: 8px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px 8px;
    transition: background 0.3s ease;
}

.description li:last-child {
    margin-right: 0;
}

.description li:hover {
    background: rgba(255, 255, 255, 0.4);
}

.genreItem {
    color: #000000;
    font-weight: normal;
}

.genreItemDark {
    color: #ffffff;
    font-weight: normal;
}